@import "tailwindcss";

@theme {
  --color-primary: #0066FF;
  --color-secondary: #3B414F;
  --color-darktext: #2B2828;
  --color-lightgrey: #F8F9FF;
  --color-bg-dark: #1F2029;
  --color-textgray: #71717A;
}